<div class="jumbotron-fluid" Style="background-image: url('./assets/images/traffic.jpg');">
  <div class="container mx-auto">
    <div class="row">

    </div>
  </div>
</div>
<div class="jumbotron-fluid" Style="background-color:black;">
  <div class="container">
    <div class="row">
    <h2 style="margin-top: 2rem;">1. Denk jij dat er programmeerwerk kijken bij de werking van een stoplicht op de weg?</h2>
    </div>
    <div class="row" style="margin-top: 2rem;">
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
          <label class="form-check-label" for="gridRadios1">
            A. Ja deels; een detectielus op de weg kan wel zien dat er een auto op het asfalt voor een stoplicht staat, maar als er meer auto's staan wordt dit overgenomen door een zogeheten 'bestuurskamer' waar mensen de stoplichten verder regelen.
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios2" id="gridRadios2" value="option2">
          <label class="form-check-label" for="gridRadios2">
            B. Ja volledig, de stoplichten worden door een computer worden bestuurd; doordat er een auto op een zogeheten detectielus rijdt op de weg, wordt er een seintje doorgestuurd naar een computer die het stoplicht voor de auto op groen kan zetten. Bij drukker verkeer wordt er gebruik gemaakt van meerdere detectielussen.
          </label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
          <label class="form-check-label" for="gridRadios3">
            C. Nee helemaal niet, voor een computer is dit te ingewikkeld; als er een ambulance aankomt moeten sowieso alle stoplichten heel snel op groen. Mensen vanuit een speciale 'bestuurskamer' kunnen dit regelen.
          </label>
        </div>


  </div>
</div>
  </div>
</div>

<div class="container-fluid" Style="background-color:black;">
  <div class="text-right" Style="background-color:black;">
    <p><a [routerLink]="['/question']"><button class="btn btn-dark btn-lg">Volgende</button></a></p>
  </div>
</div>
