.jumbotron-fluid{
  background-size: cover;
  height:400px;
  display: flex;
  align-items: center;
}

h2 {
  color:white;
  font-family:'Roboto', sans-serif;
  font-size: 30px;
  align-self: center;
}

.container{
  align-self:start;
  width:95%;
}

.form-check-label{
  color:white;
  margin-top:1rem;
  }


.form-check-input{
  margin-top:1rem;
}

.form-check{
  margin-top:1rem;
}

.button{
margin: 2rem;
}
