<div class="jumbotron-fluid" Style="background-image: url('./assets/images/code.jpg');">
  <div class="container mx-auto">
    <div class="row">
      <h1 class='mx-auto' style="margin-top: 4rem;" >Welkom bij de Ordina developers Quiz!</h1>
    </div>
    <div class="row">
      <h2 class='mx-auto'><a [routerLink]="['/question']"><button class="btn btn-dark btn-lg btn-block">Start Quiz</button></a></h2>
    </div>
  </div>
</div>
