.jumbotron-fluid{
  background-size: cover;
  background-repeat: no-repeat;
  height:700px;
  display: flex;
  align-items: center;
}

h1 {
  color:white;
  font-size: 50px;
  font-family: 'Roboto', sans serif;
  font-weight: bold;
  text-align: center;

}

h2 {
  color:white;
  font-family:'Roboto', sans-serif;
  font-size: 30px;
  align-self: center;
}

.container{
  align-self: center;
  width:95%;
  height: 300px;
  background-color: rgba(245, 245, 245, .4);
}
